* {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    main {
        text-align: center;
        border-radius: 10%;
        border: 3px solid black;
        overflow: hidden;

        #profile {
            #image-type {
                img {
                    width: 400px;
                    height: auto;
                }

                #data {
                    padding: 10px 0;
                    background-color: rgba(15, 17, 19, 0.418);

                    font-size: 20px;

                    #assets {
                        padding: 10px;
                        display: flex;
                        width: 100%;
                        background-color: rgba(240, 248, 255, 0.418);
                        margin: 10px 0;
                        justify-content: space-around;
                    }
                }
            }

            #text {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;

                #locations {
                    width: 400px;
                    max-height: 150px;
                    overflow: scroll;
                    scrollbar-width: none;   
                }
            }
        }
    }
}