@font-face {
    font-family: "PokemonClassic";
    src: url("./asset/fonts/pokemon-classic/Pokemon Classic.ttf") format("truetype");
}

@font-face {
    font-family: "PokemonSolid";
    src: url("./asset/fonts/pokemon/Pokemon Solid.ttf") format("truetype");
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PokemonClassic", sans-serif;
    margin: 0;
    background: radial-gradient(rgb(102, 102, 102), black);
}

#root {
    width: 100%;
}

.input-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 4, 39);
    width: 100%;
    border-bottom: 3px double white;
    justify-content: space-between;
    height: 300px;
    overflow: hidden;

    #left {
        width: 20%;
        height: 100%;
        background-color: red;
        clip-path: polygon(0 0, 100% 0, 70% 100%, 0 100%)
    }

    #middle {
        text-align: center;

        h1 {
            font-family: "PokemonSolid", sans-serif;
            color: #FFDE00; /* Couleur du texte */
            -webkit-text-stroke: 4px #3B4CCA; 
            font-size: 56px;
            margin: 20px;
        }
    
        #search {
            display: flex;
            margin: 20px;
            background: radial-gradient(rgb(155, 153, 153), #424242);
            border-radius: 20px;
            border: 3px double white;
    
            input {
                margin: 20px 10px;
                height: 30px;
                width: 400px;
                border-radius: 20px;
    
            }
    
            button {
                border: none;
                border-radius: 15px;
                background-color: #3b4cca00;
    
                img {
                    height: 30px;
                }
            }
        }
    }

    #right {
        width: 20%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        border-left: 3px double rgb(0, 0, 0);
        clip-path: polygon(30% 0, 100% 0, 100% 100%, 0 100%);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.display-grid {
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px; 
    justify-items: center; 
    align-items: start;
    
    div {
        border-radius: 15px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.644);
        width: 200px;
        height: 380px;
        overflow: hidden;
        margin: 20px;
        box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.2);
        transition: all 0.3s;

        #imgOne {
            position: relative;
            right: -80px;
            top: 20px;
        }

        #imgOne:hover {
            cursor: pointer;
        }

        #imgTwo {
            width: 100%;
            height: auto;
            border-top-right-radius: 50%;
        }

        #types {
            height: 75px;

            p {
                width: 80%;
                border-radius: 0 20px 20px 0;
                font-size: 12px;
            }
        }
    }

    div:hover {
        background-color: rgb(235, 235, 235);
        scale: 1.1;
    }
}